// Colors
$grey: #333333;
$lightgrey: #777;

// Nav Colors
$nav-background: #333333;
$nav-link-color: #ffffff;

// Clock Colors
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099e8;
$clock-text-color: white;